<ul class="flex flex-col gap-10 w-1/2 mx-auto">
  <li class="overflow-hidden">
    <%= link_to "Home", root_path, class: 'animate-showSlide font-montserrat font-extrabold text-6xl hover:font-sans'  %>
  </li>

  <li class="overflow-hidden">
    <%= link_to "Reviews", reviews_path, class: 'animate-showSlide font-montserrat font-extrabold text-6xl hover:font-sans'  %>
  </li>

  <li class="overflow-hidden">
    <%= link_to "Account", account_index_path, class: 'animate-showSlide font-montserrat font-extrabold text-6xl hover:font-sans'  %>
  </li>
</ul>
