<div class="flex justify-center border-b border-[#7a7a7a] items-center bg-home-splash h-[60px] w-full bg-cover">
  <div class="typewriter">
    <h1 class=" text-white text-2xl">Welcome to the best Book's Review portal!</h1>
  </div>
</div>

<div class="pt-8">

  <%= turbo_frame_tag "reviews", src: reviews_path do %>
    <h1>Loading...</h1>
  <% end %>
</div>
