@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

html, body {
  min-height: 100vh;
}

input[type=text],
input[type=email],
input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #7d7d7d2e;
  padding: 4px 0 2px 0;
}

[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
  background: transparent;
  --tw-ring-color: none;
  border-color: gray;
}

[multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus {
  --tw-ring-color: none;
  border-color: #7d7d7d7d;
}

body.auth {
  background-image: url(/assets/bg/im3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

body.auth .auth-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: fit-content;
}

form .field {
  display: flex;
  align-items: baseline;
  color: #575757;
  gap: 8px;
  margin-bottom: 14px;
}

form .field > i {
  font-size: 20px;
}
